<!DOCTYPE html>
<html lang="en">

<%- include('./partials/_header') %>

    <body>
        <%- include('./partials/_body') %>
            <%- include('./partials/_user') %>


    </body>
    <%- include('./partials/_footer') %>

</html>